<!DOCTYPE html>    
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
        <title>TMS</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="pics/banger.png" type="image/gif" sizes="16x16"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
        <link href="css/LogInCss.css" rel="stylesheet" type="text/css"/>
        
    </head>
    <body>

        <div class="top-logo">
            <header>
                <img src="pics/banger.png" alt="" style="width:250px; height:100px;"/>
                <div class="headers"><h1>TMS</h1></div>
                <div class="widgets">
                    <a href="https://www.facebook.com/" class="fa fa-facebook"></a>
                    <a href="https://twitter.com/" class="fa fa-twitter"></a>
                </div>
        </div>
        <div class="top-container">
            <h1>Timetable Management System</h1>
            <div class="topnav">
               <a th:href = "@{/gotomakeTimetableRow}">Make Time Slot</a>    
               <a th:href = "@{/timetableEdit}">Timetable Management</a> 
               <a class="active"  th:href = "@{/goaddTeacher}">Teacher Management</a> 
               <a th:href = "@{/editRooms}">Rooms Management</a>  
                 <div class="logged topnav-right">
				<h3 id="username" style="color:white;"></h3>

			</div>
            </div>  
          
            <div class="limiter" >
		<div class="container-login100" >
			
				
				<form class="login100-form validate-form" th:object="${teachersObj}" action="#"
							th:action="@{/addTeacher}" method="POST">
			
							
                                    
					<span class="login100-form-title p-b-34">
						Add Teacher
					</span>
					
					<div class="wrap-input100 rs1-wrap-input100 validate-input m-b-20" data-validate="Enter Name">
						<input id="first-name" class="input100" type="text" th:field="*{UserName}" placeholder="Enter First Name">
						<span class="focus-input100"></span>
					</div>
					<div class="wrap-input100 rs2-wrap-input100 validate-input m-b-20" data-validate="Type StaffID">
						<input class="input100" type="text" th:field="*{StaffID}" placeholder="Enter StaffID">
						<span class="focus-input100"></span>
					</div>
                                    
                                       
                                        <div class="wrap-input100 rs1-wrap-input100 validate-input m-b-20" data-validate="Enter Email">
						<input class="input100" type="email" th:field="*{EmailAddress}" placeholder="Enter your Email">
						<span class="focus-input100"></span>
					</div>
					
					
					
                                    
					<div class="wrap-input100 rs2-wrap-input100 validate-input m-b-20" data-validate="enrolled">
						<input class="input100" type="text" th:field="*{TeachingModel}" placeholder="Course Nmae">
						<span class="focus-input100"></span>
					</div>
                                        
                                        <div class="wrap-input100 rs1-wrap-input100 validate-input m-b-20" data-validate="Enter Password">
						<input class="input100" type="password" th:field="*{Password}" placeholder="Enter Password">
						<span class="focus-input100"></span>
					</div>
                                    
					<div class="wrap-input100 rs2-wrap-input100 validate-input m-b-20" data-validate="Re-Type password">
						<input class="input100" type="password" name="re-pass" placeholder="Re-Enter Password">
						<span class="focus-input100"></span>
					</div>
                                    
					<div class="wrap-input100 rs1-wrap-input100 validate-input m-b-20" data-validate="Date of Birth">
						<input class="input100" onfocus="(this.type='date')" onblur="(this.type='text')" th:field="*{DOB}" placeholder="Date of Birth">
						<span class="focus-input100"></span>
					</div>
                                    
                                    
					<div class="wrap-input100 rs2-wrap-input100 validate-input m-b-20" data-validate="Phone Number">
						<input class="input100" type="tel" th:field="*{Number}" placeholder="Phone Number">
						<span class="focus-input100"></span>
					</div>
                                        
                                        <div class="wrap-input100 rs1-wrap-input100 validate-input m-b-20" data-validate="Gender">
                                            <label class="container">Male:  
                                                <input type="radio" checked="checked" th:field="*{gender}" value="male">
                                                <span class="checkmark"></span>
                                            </label>
                                            <label class="container">Female: 
                                                <input type="radio" checked="checked" th:field="*{gender}" value="female">
                                                <span class="checkmark"></span>
                                            </label>
                                            
                                            <span class="focus-input100"></span>
					</div>
                                        
                                        
                                    
                                        
					<div class="container-login100-form-btn">
						<button type="submit" class="login100-form-btn">
							Add Teacher
						</button>
					</div>

					

					
				</form>
				<script th:inline="javascript">

/*<![CDATA[*/
  var myval = /*[[${mykey}]]*/ "Test";
  var listVals = /*[[${myList}]]*/ "Test1";
/*]]>*/

console.log("check "+myval);
 var usernameDiv = document.getElementById("username");
 var tq = document.createTextNode(myval);
 var q = document.createElement("P");
 q.appendChild(tq);
 usernameDiv.appendChild(q);
 
 var mainDiv = document.getElementById("main");
 for(i=0; i<listVals.length; i++){
	 //create text node
	 var t = document.createTextNode(listVals[i].name+' '+listVals[i].age);
	 //create para node
	 var p = document.createElement("P");
	 //attach text to para
	 p.appendChild(t);
	 //attach para to div
	 mainDiv.appendChild(p);
 }
 

</script>
                          
                          <script> 
function submit() { 
  /*Put all the data posting code here*/ 
 document.getElementById("makeForm").reset(); 
} 
</script> 
				
		</div>
	</div>
            
            <div class="outbox">
            <footer class="footer-distributed">

			<div class="footer-left">

				<p class="footer-links">
					<a href="HomePage.html">Home</a>		
                                        <a href="AboutUs.html">About Us</a>
					<a href="ContactUs.html">Contact</a>
				</p>

				<p class="footer-company-name">TMS  2020</p>

			</div>

			<div class="footer-right">

				<form method="get" action="#">
					<input placeholder="Search our website" name="search" />
					<i class="fa fa-search"></i>
                                         
				</form>

			</div>

            </footer>
            </div>
        </div>
        
    </body>
</html>
