<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
  <title>TMS</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="pics/banger.png" type="image/gif" sizes="16x16"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
        <link href="css/LogInCss.css" rel="stylesheet" type="text/css"/>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
	
</head>
<body>


        <div class="top-logo">
            <header>
                <img src="pics/banger.png" alt="" style="width:250px; height:100px;"/>
                <div class="headers"><h1>TMS</h1></div>
                <div class="widgets">
                    <a href="https://www.facebook.com/" class="fa fa-facebook"></a>
                    <a href="https://twitter.com/" class="fa fa-twitter"></a>
                </div>
        </div>
        <div class="top-container">
            <h1>Timetable Management System</h1>
            <div class="topnav">
               <a th:href = "@{/gotomakeTimetableRow}">Make Time Slot</a>    
               <a class="active"  th:href = "@{/timetableEdit}">Timetable Management</a> 
               <a th:href = "@{/goaddTeacher}">Teacher Management</a> 
               <a th:href = "@{/editRooms}">Rooms Management</a>   
                 <div class="logged topnav-right">
				<h3 id="username" style="color:white;"></h3>

			</div>
            </div>  
          
            <div class="limiter" >
		<div class="container-login100" >
	<div class="container my-2">
	<h1>Timetable Classes Management</h1>
	
	<a th:href = "@{/gotomakeTimetableRow}" class="btn btn-primary btn-sm mb-3"> Add Classes </a>
	
		<table border="1" class = "table table-striped table-responsive-md">
			<thead>
				<tr>
			
					<th>
						<a th:href="@{'/page/' + ${currentPage} + '?sortField=date&sortDir=' + ${reverseSortDir}}">
							Date</a>
					</th>
					<th>
					<a th:href="@{'/page/' + ${currentPage} + '?sortField=day&sortDir=' + ${reverseSortDir}}">
							Day</a>
					</th>
					<th>
					<a th:href="@{'/page/' + ${currentPage} + '?sortField=time&sortDir=' + ${reverseSortDir}}">
							Time</a>
					</th>
					<th>
					<a th:href="@{'/page/' + ${currentPage} + '?sortField=venue&sortDir=' + ${reverseSortDir}}">
							Venue</a>
					</th>
					<th>
					<a th:href="@{'/page/' + ${currentPage} + '?sortField=lecturerName&sortDir=' + ${reverseSortDir}}">
							Lecturer Name</a>
					</th>
					<th>
					<a th:href="@{'/page/' + ${currentPage} + '?sortField=batch&sortDir=' + ${reverseSortDir}}">
							Batch</a>
					</th>
					<th>
					<a th:href="@{'/page/' + ${currentPage} + '?sortField=module&sortDir=' + ${reverseSortDir}}">
							Module</a>
					</th>
					<th>
					<a th:href="@{'/page/' + ${currentPage} + '?sortField=degreeType&sortDir=' + ${reverseSortDir}}">
							Degree Type</a>
					</th>
				
					<th> Actions </th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="classes : ${listClasses}">
					<td th:text="${classes.date}"></td>
					<td th:text="${classes.day}"></td>
					<td th:text="${classes.time}"></td>
					<td th:text="${classes.venue}"></td>
					<td th:text="${classes.lecturerName}"></td>
					<td th:text="${classes.batch}"></td>
					<td th:text="${classes.module}"></td>
					<td th:text="${classes.degreeType}"></td>
					<td> <a th:href="@{/showFormForUpdate/{id}(id=${classes.id})}" class="btn btn-primary">Update</a>
					    <a th:href="@{/deleteClasses/{id}(id=${classes.id})}" class="btn btn-danger">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
		
		<div th:if = "${totalPages > 1}">
			<div class = "row col-sm-10">
				<div class = "col-sm-2">
					Total Rows: [[${totalItems}]] 
				</div>
				<div class = "col-sm-1">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a th:if="${currentPage != i}" th:href="@{'/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span>  
					</span>
				</div>
				<div class = "col-sm-1">
					<a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
					<span th:unless="${currentPage < totalPages}">Next</span>
				</div>
				
				 <div class="col-sm-1">
    				<a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
					<span th:unless="${currentPage < totalPages}">Last</span>
   				 </div>
			</div>
		</div>
	</div>
	</div>
	</div>
            
            <div class="outbox">
            <footer class="footer-distributed">

			<div class="footer-left">

				<p class="footer-links">
					<a href="HomePage.html">Home</a>		
                                        <a href="AboutUs.html">About Us</a>
					<a href="ContactUs.html">Contact</a>
				</p>

				<p class="footer-company-name">TMS  2020</p>

			</div>

			<div class="footer-right">

				<form method="get" action="#">
					<input placeholder="Search our website" name="search" />
					<i class="fa fa-search"></i>
                                         
				</form>

			</div>

            </footer>
            </div>
</body>
</html>